.game{
    display: block;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color:saddlebrown;
    padding: 500px 500px auto;
}

.instructions>ul{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 0px;
}
.instructions> p{
    font-size: 18px;
    margin: 0px;
}
.instructions> h4{
    margin: 0px;
}

.gameBox {
    border: 2px solid black;
}

.scoreCont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scoreCont > h2{
    margin: 10px 40px 10px 40px ;
}

.scoreCont > h3{
    margin: 10px 110px 10px 110px ;
}

.scoreCard{
    text-align: center;
}
.button1{
    font-size: 20px;
    margin: 50px;
}

.gameBox>.roundResult >h3{
    text-align: center;
    margin: 10px;
}

.gameResult{
display: none;
}
.gameResult>p{
    text-align: center;
    font-size: 1.2 rem;
}

.gameResult>button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

 

}
